@model CSD480Group3Capstone001.Models.Contractor


<div>
    <dl class="row">
        <dt class="col-sm-2">
            Company Specialty
        </dt>
        <dd class="col-sm-10">
            @Model.Company @Model.Specialty
        </dd>
    </dl>
</div>



