@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
       <img src="~/Images/empire_state.jpg" alt="" width="1529" height="659" />
    </div>
