@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        @if (User.IsInRole("admin"))
                         {
        <h2>
            You are Logged in as: an Admin
        </h2>

            }
         else{
        <h2>
            You are Logged in as: a Manager
        </h2>
        }

    <img src="~/Images/empire_state.jpg" class="img-fluid" alt="Source: www.google.com">    
    <!-- <img src="~/Images/empire_state.jpg" alt="" width="90%" height="60%" /> -->
    </div>
