@model CSD480Group3Capstone001.Models.TenantUnit

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TenantUnit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenant.TenantID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.unit.UnitID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TenantID" />
        <input type="hidden" asp-for="UnitID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
