<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CSD480 Group3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-darkly.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        .inactive:hover {
            border: black 1px solid !important;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white  border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CSD480Group3Capstone001</a><span class="glyphicon glyphicon-home" style="margin-right:6px;"></span>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("admin"))
                        {

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Manage
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Role"
                                       asp-action="Index">Roles</a>
                                    <a class="dropdown-item" asp-controller="Admin"
                                       asp-action="ListUsers">Users</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    View
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-controller="Tenants"
                                       asp-action="Search">User View</a>
                                    <a class="dropdown-item" asp-controller="Tenants"
                                       asp-action="Index">Admin View</a>
                                </div>
                            </li>

                        }
                        else
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tenants" asp-action="Search">User View</a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <div class="d-flex flex-wrap mb-2">

            @{
                //TODO: update this hot mess to a for loop that  changes the class bg-secondary to bg-primary for the selected page or something

                if (ViewData["Title"].Equals("TenantsIndex"))
                {
                    <div id="Tenants" class="p-2 flex-grow-1 border rounded border-dark bg-primary ml-1 mr-1 mb-1"><a class="text-center nav-link text-light" asp-area="" asp-controller="Tenants" asp-action="Index">Tenants</a></div>
                }
                else
                {
                    <div id="Tenants" class="p-2 flex-grow-1 border rounded border-dark bg-secondary ml-1 mr-1 mb-1"><a class="text-center nav-link text-light" asp-area="" asp-controller="Tenants" asp-action="Index">Tenants</a></div>
                }
                if (ViewData["Title"].Equals("UnitsIndex"))
                {
                    <div id="Units" class="p-2 flex-grow-1 border rounded border-dark bg-primary ml-1 mr-1 mb-1"><a class="text-center nav-link text-light" asp-area="" asp-controller="Units" asp-action="Index">Units</a></div>
                }
                else
                {
                    <div id="Units" class="p-2 flex-grow-1 border rounded border-dark bg-secondary ml-1 mr-1 mb-1"><a class="text-center nav-link text-light" asp-area="" asp-controller="Units" asp-action="Index">Units</a></div>
                }
                if (ViewData["Title"].Equals("BuildingsIndex"))
                {
                    <div id="Buildings" class="p-2 flex-grow-1 border rounded border-dark bg-primary ml-1 mr-1 mb-1"><a class="text-center nav-link text-light" asp-area="" asp-controller="Buildings" asp-action="Index">Buildings</a></div>
                }
                else
                {
                    <div id="Buildings" class="p-2 flex-grow-1 border rounded border-dark bg-secondary ml-1 mr-1 mb-1"><a class="text-center nav-link text-light" asp-area="" asp-controller="Buildings" asp-action="Index">Buildings</a></div>
                }
                if (ViewData["Title"].Equals("ContractorIndex"))
                {
                    <div id="Contractors" class="p-2 flex-grow-1 border rounded border-dark bg-primary ml-1 mr-1 mb-1"><a class="text-center nav-link text-light" asp-area="" asp-controller="Contractors" asp-action="Index">Contractors</a></div>
                }
                else
                {
                    <div id="Contractors" class="p-2 flex-grow-1 border rounded border-dark bg-secondary ml-1 mr-1 mb-1"><a class="text-center nav-link text-light" asp-area="" asp-controller="Contractors" asp-action="Index">Contractors</a></div>
                }
                if (ViewData["Title"].Equals("VehiclesIndex"))
                {
                    <div id="Vehicles" class="p-2 flex-grow-1 border rounded border-dark bg-primary ml-1 mr-1 mb-1"><a class="text-center nav-link text-light" asp-area="" asp-controller="Vehicles" asp-action="Index">Vehicles</a></div>
                }
                else
                {
                    <div id="Vehicles" class="p-2 flex-grow-1 border rounded border-dark bg-secondary ml-1 mr-1 mb-1"><a class="text-center nav-link text-light" asp-area="" asp-controller="Vehicles" asp-action="Index">Vehicles</a></div>
                }

            }
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2020 - CSD480Group3Capstone001 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
